@import "placeholders";
@import "variables";

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: #FFF;
    text-shadow: $black-shadow;
    background-position: center;
    background-size: cover;
    @extend %flex-center;
    overflow-y: hidden;
}

.meteo {
    position: relative;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    box-shadow: $light-shadow;
    @extend %flex-center;
    flex-direction: column;

    // Overlay de chargementde l'API
    &__loading {
        position: absolute;
        z-index: 10;
        width: 720px;
        height: 720px;
        border-radius: 50%;
        background-color: #999;
        transition: opacity 1.5s ease-out;
        @extend %flex-center;

        &.hidden {
            opacity: 0;
        }

        img {
            width: 150px;
        }
    }

    &__now {
        position: absolute;
        z-index: 6;
        width: 250px;
        height: 250px;
        top: -50px;
        left: -50px;
        border: 3px double #FFF;
        border-radius: 50%;
        box-shadow: $light-shadow;
        transition: transform 0.25s ease;

        &__date {
            position: absolute;
            width: 200px;
            top: 45px;
            left: 22px;
            font-size: 1.2em;
            @extend %flex-center;
            text-transform: capitalize;
        }

        &__img {
            width: 100%;
        }

        &__weather {
            position: absolute;
            top: 180px;
            left: 40px;
            &::first-letter {
                text-transform: uppercase;
            }
        }

        &__temp {
            position: absolute;
            top: 201px;
            left: 98px;
            font-size: 2em;
            font-weight: bold;
            text-shadow: $grey-shadow;
        }
    }

    &__info {

        .api {
            position: absolute;
            z-index: 9;
            top: 13px;
            left: 228px;
            font-size: 0.8em;
            opacity: 0.25;
    
            a {
                color: #FFF;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        &__loc {
            position: absolute;
            top: 90px;
            left: 200px;
            @extend %flex-center;
            flex-direction: column;

            form {
                position: absolute;
                z-index: 5;
                top: -40px;
                left: 15px;

                label {
                    margin-left: 1px ;
                }
                input {
                    margin: 4px 0;
                    &:nth-child(2) {
                        width: 180px;
                        padding: 2px;
                    }
                    &:nth-child(3):hover {
                        cursor: pointer;
                    }
                }
            }

            p {
                position: absolute;
                width: 250px;
                top: 55px;
                left: 5px;
            }
        }

        &__press {
            position: absolute;
            top: 180px;
            left: 205px;
        }

        &__weather {
            position: absolute;
            top: 220px;
            left: 66px;
            width: 350px;
            display: flex;
            justify-content: space-between;

            .fa-location-arrow {
                position: absolute;
                top: 2px;
                left: 360px;
                transition: transform 2s;
            }
        }

        &__statut {
            position: absolute;
            width: 300px;
            top: 350px;
            left: 94px;
            font-weight: bold;
            font-size: 1.2em;
            text-shadow: $white-shadow;
            @extend %flex-center;

            p.success {
                color: green;
            }
            p.error {
                color: red;
            }
        }

        &__hour {
            position: absolute;
            top: 375px;
            left: 133px;
            font-size: 3em;
        }

        &__timezone {
            position: absolute;
            width: 200px;
            top: 435px;
            left: 140px;
            @extend %flex-center;
        }
    }

    &__prevision {
        position: absolute;
        top: 250px;
        left: -10px;
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        @extend %flex-center;

        &__value {
            text-shadow: $grey-shadow;
        }

        p {
            padding: 10px;
            border: 3px double #FFF;
            box-shadow: $light-shadow;
            background-color: rgba(238, 238, 238, 0.25);
            @extend %flex-center;
            &:nth-child(1) {
                font-weight: bold;
            }
        }
    }

    &__week {
        position: absolute;
        z-index: 0;
        width: 720px;
        height: 720px;
        top: -120px;
        left: -120px;
        border-radius: 50%;
        transition: transform 2s;

        &__day {
            position: absolute;
            width: 118px;
            height: 118px;
            border-radius: 50%;
            box-shadow: $light-shadow;
            @extend %flex-center;
            flex-direction: column;
            transition: transform 2s;

            p {
                transform: translateY(20px);
            }
            img {
                width: 75px;
                transform: translateY(5px);
            }

            &.day1 {
                top: 0;
                left: 300px;
            }
            &.day2 {
                top: 24px;
                left: 417px;
            }
            &.day3 {
                top: 91px;
                left: 515px;
            }
            &.day4 {
                top: 192px;
                left: 579px;
            }
            &.day5 {
                top: 309px;
                left: 599px;
            }
            &.day6 {
                top: 425px;
                left: 573px;
            }
            &.day7 {
                top: 521px;
                left: 503px;
            }
        }

        &__value {
            text-shadow: $grey-shadow;
        }
    }
}