*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: #FFF;
  text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meteo {
  position: relative;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meteo__loading {
  position: absolute;
  z-index: 10;
  width: 720px;
  height: 720px;
  border-radius: 50%;
  background-color: #999;
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meteo__loading.hidden {
  opacity: 0;
}

.meteo__loading img {
  width: 150px;
}

.meteo__now {
  position: absolute;
  z-index: 5;
  width: 250px;
  height: 250px;
  top: -50px;
  left: -50px;
  border: 3px double #FFF;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.meteo__now__date {
  position: absolute;
  top: 45px;
  left: 50px;
  font-size: 1.2em;
}

.meteo__now__date::first-letter {
  text-transform: capitalize;
}

.meteo__now__img {
  width: 100%;
}

.meteo__now__weather {
  position: absolute;
  top: 180px;
  left: 40px;
}

.meteo__now__weather::first-letter {
  text-transform: uppercase;
}

.meteo__now__temp {
  position: absolute;
  top: 180px;
  left: 130px;
  font-size: 2em;
  font-weight: bold;
}

.meteo__info__loc {
  position: absolute;
  top: 90px;
  left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meteo__info__loc form {
  position: absolute;
  z-index: 9;
  top: -40px;
  left: 15px;
}

.meteo__info__loc form label {
  margin-left: 1px;
}

.meteo__info__loc form input {
  margin: 4px 0;
}

.meteo__info__loc form input:nth-child(2) {
  padding: 2px;
}

.meteo__info__loc form input:nth-child(3):hover {
  cursor: pointer;
}

.meteo__info__loc p {
  position: absolute;
  width: 250px;
  top: 55px;
  left: 5px;
}

.meteo__info__press {
  position: absolute;
  top: 180px;
  left: 205px;
}

.meteo__info__weather {
  position: absolute;
  top: 220px;
  left: 72px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meteo__info__statut {
  position: absolute;
  width: 300px;
  top: 350px;
  left: 94px;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 1px 0 0 #EEE, 1px 1px 0 #EEE, 0 1px 0 #EEE, -1px 1px 0 #EEE, -1px 0 0 #EEE, -1px -1px 0 #EEE, 0 -1px 0 #EEE, 1px -1px 0 #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meteo__info__statut p.success {
  color: green;
}

.meteo__info__statut p.error {
  color: red;
}

.meteo__info__timezone {
  position: absolute;
  width: 200px;
  top: 435px;
  left: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meteo__info__hour {
  position: absolute;
  top: 375px;
  left: 138px;
  font-size: 3em;
}

.meteo__prevision {
  position: absolute;
  top: 250px;
  left: 20px;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meteo__prevision p {
  padding: 10px;
  border: 3px double #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(238, 238, 238, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meteo__prevision p:nth-child(1) {
  font-weight: bold;
}

.meteo__week {
  position: absolute;
  z-index: 0;
  width: 720px;
  height: 720px;
  top: -120px;
  left: -120px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.meteo__week__day {
  position: absolute;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meteo__week__day p {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.meteo__week__day img {
  width: 75px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.meteo__week__day.day1 {
  top: 0;
  left: 300px;
}

.meteo__week__day.day2 {
  top: 24px;
  left: 417px;
}

.meteo__week__day.day3 {
  top: 91px;
  left: 515px;
}

.meteo__week__day.day4 {
  top: 192px;
  left: 579px;
}

.meteo__week__day.day5 {
  top: 309px;
  left: 599px;
}

.meteo__week__day.day6 {
  top: 425px;
  left: 573px;
}

.meteo__week__day.day7 {
  top: 521px;
  left: 503px;
}
/*# sourceMappingURL=style.css.map */